<div>
    <div nz-row>
         <div nz-col nzFlex="2">
             <nz-card nzType = "inner" style="margin-top:16px;" nzTitle="Post new Income">
                    <form nz-form [formGroup] = "incomeForm" (ngSubmit) =  "submitForm()" class = "custom-form">
                       <nz-form-item>
                         <nz-form-control nzErrorTip="Please input the title">
                             <input type = "text" nz-input formControlName = "title" placeholder = "Enter Title">
                         </nz-form-control>
                       </nz-form-item>

                       <nz-form-item>
                         <nz-form-control nzErrorTip="Please input the amount">
                             <input type = "number" nz-input formControlName = "amount" placeholder = "Enter amount">
                         </nz-form-control>
                       </nz-form-item>

                       <nz-form-item>
                         <nz-form-control nzErrorTip="Please input the date">
                            <nz-date-picker  style = "width:100%;" formControlName = "date" ></nz-date-picker>
                         </nz-form-control>
                       </nz-form-item>

                       <nz-form-item>
                         <nz-form-control>
                            <textarea nz-input formControlName = "description" [nzAutosize]="{ minRows: 2 , maxRows: 6}" placeholder = "Enter description"></textarea>
                         </nz-form-control>
                       </nz-form-item>


                      <nz-form-item>
  <nz-form-control nzErrorTip="Please select a category">
    <nz-select nzAllowClear nzPlaceHolder="Select a category" formControlName="category">
      <nz-option *ngFor="let category of listofCategory" [nzValue]="category" [nzLabel]="category">
      </nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>

                       <button nz-button nz-Type="primary" nzBlock [disabled]="incomeForm.invalid" class="w-100">
                         Post Income
                       </button>

                    </form>
             </nz-card>
         </div>

         <div nz-col nzFlex="3" style="margin-left: 20px;">
           <nz-card nzType="inner" style = "margin-top:16px;" nzTtile = "Past incomes">
                   <ng-container *ngFor="let income of incomes">
  <div nz-card-grid style="width:100%">
  <div nz-row>
    <div nz-col nzSpan="18">
      <span nz-icon nzType="message" nzTheme="outline"></span> {{income.title}}
      <span nz-icon nzType="dollar" nzTheme="outline" style="margin-left: 8px;"></span> {{income.amount}}
      <span nz-icon nzType="clock-circle" nzTheme="outline" style="margin-left: 8px;"></span> {{income.date | date:'dd/MM/yyyy'}}
      <span nz-icon nzType="comment" nzTheme="outline" style="margin-left: 8px;"></span> {{income.category}}
    </div>
    <div nz-col nzSpan="4" style="text-align: right;">
      <span nz-icon nzType="edit" nzTheme="fill" style="color: blue; cursor: pointer;"  routerLink="/income/{{income.id}}/edit"></span>
      <span nz-icon nzType="delete" nzTheme="fill" style="color: red; margin-left: 10px; cursor: pointer;" (click)="deleteIncome(income.id)"></span>
    </div>
  </div>
</div>

</ng-container>

           </nz-card>
         </div>
    </div>
</div>